@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jersey 25", sans-serif;;
}
body{
    background-image: url(img/person-front-computer-working-html.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 60px;
    background-color: rgb(136, 82, 187);
    text-align: center;
}
h1:hover{
    color: white;
    transition: 2s;
}
.imagenes{
    display: block;
    padding-left: 500px;
    padding-top: 120px;
}
.contenido{
    padding-top: 130px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 100px;
    color: white;
}
.contenido:hover{
    color: rgb(136, 82, 187);
    transition: 2s;
}
.footer{
    position: absolute;
    left: 705px;
    bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(243, 193, 86);
}
.redes{
    position: absolute;
    right: 10px;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}
.redes li{
    padding:10px;
}